footer { background:#333333;color:#888; padding: 15px; text-align: center; margin-top: 15px; border-top: 2px sold black; border-top-left-radius: 5px; border-top-right-radius: 5px;}
footer a:hover{color:#888;}
footer ul {list-style:none; padding:0}
footer ul li{line-height: 2}