<?xml version="1.0"?>

<configuration>  
  <system.web.webPages.razor>    
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="Homesite.Controllers.Directory" />
        <add namespace="Homesite.Views.Directory" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

</configuration>
